.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px;
}

.section {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    
    background-color: #77c497;
    border-radius: 5%;

    box-shadow: 15px 15px 11px -1px rgba(34, 60, 80, 0.2);;
}


.contact_form {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
    text-align: center;
    outline: 2px solid #000;
}

.contact_formLabel {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;

    font-size: 18px;
}

.inputWindow {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    font-style: italic;
}

.filterBox {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.filterInput {
    width: 100%;
    
    font-size: 16px;
    font-style: italic;
}

.contactList {
    width: 350px;
    // margin-left: auto;
    // margin-right: auto;
    font-size: 18px;
    list-style: none;
}

.listItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.btn {
    display: block;
    height: 25px;
    color: #0c0c0b;
    transition: 0.25s;
    
    &:hover {
        box-shadow: inset 6.5em 0 0 0 #{adjust-hue(#8fc866, 45deg)};;
    }
}

.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #2a3638;
}

.activeLink {
    color: #E84A5F;
}

.user_container {
    display: flex;
    align-items: center;
}

.user_name {
    margin-right: 11px;
    font-weight: 700;
}