.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding-top: 15px;
}

.section {
    display: flex;
    padding: 15px;
    justify-content: space-between;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;

    font-size: 20px;
    
    background-color: #d19b37;
    opacity: 0.8;
    border-radius: 25px;

    box-shadow: 15px 15px 11px -1px rgba(34, 60, 80, 0.2);;
}


.contact_form {
    display: flex;
    flex-direction: column;
    
    width: 320px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
     
    background-color: #40ac76;
    border-radius: 20px;

    box-shadow: 15px 15px 11px -1px rgba(34, 60, 80, 0.2);;    
}

.filterBox {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px  10px;

    background-color: #40ac76;
    border-radius: 15px;
}

.contactList {
    width: 400px;
    height: 170px;
    margin-top: 5px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
    list-style: none;
    overflow-y: scroll;

    background-color: #40ac76;
    border-radius: 20px;
}

.listItem {
    display: flex;
    align-items:baseline; 
    justify-content: space-between;
    width: 100%;
}

.btn {
    border-radius: 10px;   
  }

.link {
    display: inline-block;
    text-decoration: none;
    padding: 12px;
    font-weight: 700;
    color: #2a3638;
}

.activeLink {
    color: #dbdbd2;
    border-radius: 10px;
    background-color: #40ac76;
}

.user_container {
    display: flex;
    align-items: center;
}

.user_name {
    margin-right: 11px;
    font-weight: 700;
}

.avatar {
    margin-right: 4px;
}

.loader {
    display: grid;
    place-content: center;
}